<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<div class="artists-container">
  <%= react_component 'BrowseFilter' %>
</div>

<div>
  <%= react_component 'ArtistDisplay', artists: @artists %>
</div>

<br/>
<%= link_to 'New Artist', new_artist_path %>
<br/>
