.index-page-wrapper {
  text-align: center;
  color: white;
  border-style: ridge;
  padding: 10px 10px 10px 10px;

  background-color: rgba(17, 28, 59, 0.2);
}
.search-box {
  text-align: center;
  color: white;
  border-style: ridge;
  padding: 10px 10px 10px 10px;
}
.selected-artist {
  text-align: center;
  color: white;
  border-style: ridge;
  padding: 10px 10px 10px 10px;
  width: 550px;
  height: auto;
  margin: 0 auto;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
}
.iframe-display {
  text-align: center;
  color: white;
  border-style: ridge;
  padding: 10px 10px 10px 10px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 550px;
  height: auto;
  margin: 0 auto;
  position: relative;
}
.index-container {
  width: 550px;
  height: auto;
  margin: 0 auto;
  position: relative;

  text-align: center;
  color: black;
  border-style: ridge;
  padding: 10px 10px 10px 10px;
  background-color: rgba(0, 0, 0, 0.8);
}
.artist-container {
  text-align: center;
  color: white;
  border-style: ridge;
  padding: 10px 10px 10px 10px;
  width: auto;
  height: auto;
  margin: 0 auto;
  position: relative;
  white-space: nowrap;
}
.index-view-page {
  text-align: center;
  color: white;
  border-style: ridge;
  padding: 10px 10px 10px 10px;
  width: 700px;
  height: auto;
  margin: 0 auto;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
}
.current-city-state {
  text-align: center;
  color: white;
  border-style: ridge;
  padding: 10px 10px 10px 10px;
  width: 550px;
  height: auto;
  margin: 0 auto;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
}
.scroll-list {
  overflow: auto;
  height: 300px;
}
