// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.home-component {
  color: green;
  border-style: dashed;
  padding: 10px 10px 10px 10px;
}
